{% extends 'base.html.twig' %}
{% block body %}
<section style="width: 6cm;  vertical-align: top; display: inline-block; border: 1px solid black;">
<aside style="display: inline-block;">
<h1 style="background-color: blue">Nos spécialités</h1>
	<ul class = "fil d'Ariane">
  <li> <a href="{{path('immunologie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> L’allergologie ou l’immunologie</font> </font> </a> </li>
  <li> <a href="{{path('anesthesiologie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> L’anesthésiologie </font> </font> </a> </li>
  <li> <a href="{{path('cardiologie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> La cardiologie </font> </font> </a> </li>
  <li> <a href="{{path('chirurgie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> La chirurgie </font> </font> </a> </li>
  <li> <a href="{{path('dermatologie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> La dermatologie </font> </font> </a> </li>
  <li> <a href="{{path('gynecologie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> La gynécologie </font> </font> </a> </li>
  <li> <a href="{{path('neurologie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> La neurologie </font> </font> </a> </li>
  <li> <a href="{{path('odontologie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> L’odontologie </font> </font> </a> </li>
  <li> <a href="{{path('pediatrie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> La pédiatrie </font> </font> </a> </li>
  <li> <a href="{{path('radiotherapie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> La radiothérapie </font> </font> </a> </li>
  <li> <a href="{{path('infectiologie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> L’infectiologie </font> </font> </a> </li>
  <li> <a href="{{path('medecine_generale')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> La médecine générale </font> </font> </a> </li>
  <li> <a href="{{path('ophtalmologie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> L’ophtalmologie </font> </font> </a> </li>
  <li> <a href="{{path('psychiatrie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> La psychiatrie </font> </font> </a> </li>
  <li> <a href="{{path('urologie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> L’urologie </font> </font> </a> </li>
</ul>


</section>
<section style="width: 27cm;  vertical-align: top; display: inline-block;">
<h1 style="background-color: #8546; width:30cm">Au cours de vos services pour vous donner le meilleur de votre santé</h1>
L'anesthésie-réanimation est la branche de la médecine qui se consacre à :<br>
l'anesthésie (ou anesthésiologie au Canada) et à la réanimation : prise en charge péri-opératoire 
(avant, pendant et après l'opération chirurgicale) des patients. Cette prise en charge globale repose
 sur une évaluation pré-opératoire. Lors de l'intervention, l'anesthésiste va prévenir la douleur par
  l'utilisation d'antalgiques, éventuellement sédater le malade (pour éviter toute mémorisation) à l'aide
   d'hypnotiques et dans certains cas relâcher l'ensemble de ses muscles à l'aide de curares. Il s'agit 
   alors d'une anesthésie générale. Tout cela n'est possible que sous un contrôle continu des grandes 
   fonctions vitales.
l'anesthésie (loco)régionale consiste à n'endormir qu'une partie du corps (bras, jambe, région sous ombilicale)
pour permettre chez un patient éveillé de réaliser une intervention chirurgicale limitée à la région bloquée 
(anesthésiée). L'analgésie péridurale, réalisée par un médecin anesthésiste réanimateur, permet de réduire 
les douleurs lors de l'accouchement.<br>

la réanimation : prise en charge des patients présentant ou susceptibles de présenter une ou plusieurs défaillances viscérales aiguës mettant directement en jeu le pronostic vital
<section style="width: 6cm;  vertical-align: top; display: inline-block; border: 1px ;"><a class="nav-link" href="{{path('consultation')}}">
          <button class="btn btn-outline-success me-2" type="button" style="width: 4cm">Prendre un rendez-vous ici !!!</button>
          </a></section>
<section style="width: 6cm;  vertical-align: top; display: inline-block; border: 1px; margin-left: 550px;"><a class="nav-link" href="{{path('rendez_vous_index')}}">
          <button class="btn btn-outline-success me-2" type="button" style="width: 4cm">Prendre un rendez-vous ici !!!</button>
          </a></span></section>
<h1 style="background-color: #8546; width:30cm">Les maladies immunitaires</h1>

  L’anesthésiologie est la branche de la médecine qui se consacre aux soins globaux du patient qui subit une chirurgie et au soulagement de la douleur. Les soins globaux comprennent les tâches suivantes : vous préparer à la chirurgie, s’occuper du soulagement de la douleur durant la période de récupération suivant immédiatement la chirurgie ainsi que le traitement des complications qui pourraient être dues à l’anesthésie.

L’anesthésiologie est l’une des professions médicales qui a permis de garantir que la chirurgie est sécuritaire.
 <section style="width: 6cm;  vertical-align: top; display: inline-block; border: 1px ;"><a class="nav-link" href="{{path('consultation')}}">
          <button class="btn btn-outline-success me-2" type="button" style="width: 4cm">Prendre un rendez-vous ici !!!</button>
          </a></section>
<section style="width: 6cm;  vertical-align: top; display: inline-block; border: 1px; margin-left: 550px;"><a class="nav-link" href="{{path('rendez_vous_index')}}">
          <button class="btn btn-outline-success me-2" type="button" style="width: 4cm">Prendre un rendez-vous ici !!!</button>
          </a></span></section>
 <h1 style="background-color: #8546; width:30cm">Les différentes modalités d'anesthésie</h1>
 Vous allez trouver chez nous ces différentes modalités d'anesthésie:<br>
 Anesthésie générale:<br>
 Anesthésie par inhalation:<br>
 Anesthésie par injection intraveineuse:<br>
 Anesthésies régionale et locale:<br>
 La rachianesthésie:<br>
 <section style="width: 6cm;  vertical-align: top; display: inline-block; border: 1px ;"><a class="nav-link" href="{{path('consultation')}}">
          <button class="btn btn-outline-success me-2" type="button" style="width: 4cm">Prendre un rendez-vous ici !!!</button>
          </a></section>
<section style="width: 6cm;  vertical-align: top; display: inline-block; border: 1px; margin-left: 550px;"><a class="nav-link" href="{{path('rendez_vous_index')}}">
          <button class="btn btn-outline-success me-2" type="button" style="width: 4cm">Prendre un rendez-vous ici !!!</button>
          </a></span></section>
 L'anesthésie péridurale (ou épidurale):<br>
 <h1 style="background-color: #8546; width:30cm">Déroulement typique d'une anesthésie</h1>
Consultation de pré-anesthésie<br>
Induction<br>
Entretien<br>
<a class="nav-link" href="{{path('consultation')}}">
          <button class="btn btn-outline-success me-2" type="button" style="width: 4cm">Prendre un rendez-vous ici !!!</button>
          </a>
</section>
{% endblock %}