{% extends 'base.html.twig' %}
{% block body %}
<section style="width: 6cm;  vertical-align: top; display: inline-block; border: 1px solid black;">
<aside style="display: inline-block;">
<h1 style="background-color: blue">Nos spécialités</h1>
	<ul class = "fil d'Ariane">
  <li> <a href="{{path('immunologie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> L’allergologie ou l’immunologie</font> </font> </a> </li>
  <li> <a href="{{path('anesthesiologie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> L’anesthésiologie </font> </font> </a> </li>
  <li> <a href="{{path('cardiologie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> La cardiologie </font> </font> </a> </li>
  <li> <a href="{{path('chirurgie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> La chirurgie </font> </font> </a> </li>
  <li> <a href="{{path('dermatologie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> La dermatologie </font> </font> </a> </li>
  <li> <a href="{{path('gynecologie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> La gynécologie </font> </font> </a> </li>
  <li> <a href="{{path('neurologie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> La neurologie </font> </font> </a> </li>
  <li> <a href="{{path('odontologie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> L’odontologie </font> </font> </a> </li>
  <li> <a href="{{path('pediatrie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> La pédiatrie </font> </font> </a> </li>
  <li> <a href="{{path('radiotherapie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> La radiothérapie </font> </font> </a> </li>
  <li> <a href="{{path('infectiologie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> L’infectiologie </font> </font> </a> </li>
  <li> <a href="{{path('medecine_generale')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> La médecine générale </font> </font> </a> </li>
  <li> <a href="{{path('ophtalmologie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> L’ophtalmologie </font> </font> </a> </li>
  <li> <a href="{{path('psychiatrie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> La psychiatrie </font> </font> </a> </li>
  <li> <a href="{{path('urologie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> L’urologie </font> </font> </a> </li>
</ul>


</section>
<section style="width: 27cm;  vertical-align: top; display: inline-block;">
<h1 style="background-color: #8546; width:30cm">Au cours de vos services pour vous donner le meilleur de votre santé</h1>
La cardiologie s’intéresse à l’appareil cardiovasculaire, c’est-à-dire au cœur et aux vaisseaux 
(artères et veines), à la prévention ainsi qu’au traitement des anomalies et des maladies qui l’affectent :
 hypertension artérielle, insuffisance cardiaque, troubles du rythme cardiaque, angine de poitrine,
  athérosclérose … 
Le cardiologue peut être amené à intervenir en urgence notamment en cas d’infarctus du myocarde.
<h1 style="background-color: #8546; width:30cm">Les maladies cardiaque</h1>

  L'hypercholestérolémie ;<br>
L'insuffisance cardiaque ;<br>
L'hypertension artérielle ;<br>
L'infarctus du myocarde ;<br>
La péricardite ;<br>
L'endocardite ;<br>
L'embolie pulmonaire ;<br>
Les troubles du rythme…<br>
 <h1 style="background-color: #8546; width:30cm">Le traitement cardiologique</h1>
 La prise en charge des problèmes cardio-vasculaires passe généralement, en premier lieu, 
 par une amélioration de l’hygiène de vie (alimentation, activité physique, diminution du stress).
  La prise en charge médicale peut être, quant à elle, médicamenteuse ou chirurgicale.
En plein essor, la cardiologie interventionnelle est une forme particulière de chirurgie.
 Réalisée en urgence ou non, la cardiologie interventionnelle permet de traiter certaines affections 
 (pathologies coronaires et valvulaires, malformations...) par voie endovasculaire, c’est-à-dire en 
 passant des instruments chirurgicaux miniaturisés à l’intérieur d’une artère ou d’une veine. 
 En cas de prise en charge en urgence, le patient peut être admis au service de soins intensifs cardiologiques.
La rythmologie est également une sur spécialité en cardiologie qui prend en charge les troubles du rythme 
cardiaque par plusieurs techniques :<br>

-Mise en place de stimulateurs et de défi brillateurs cardiaques, les premiers permettant d’éviter un 
ralentissement excessif du cœur, et les seconds les troubles du rythme rapides, mettant la vie du patient 
en danger.<br>
-Ablation par radiofréquence des troubles du rythme rapides qui consiste à explorer l’activité électrique du cœur par des cathéters pour repérer le tissu cardiaque responsable des troubles du rythme. On délivre ensuite un courant électrique de radiofréquence sur ce tissu afin de rétablir le rythme normal du cœur.
 <a class="nav-link" href="{{path('consultation')}}">
          <button class="btn btn-outline-success me-2" type="button" style="width: 4cm">Prendre un rendez-vous ici !!!</button>
          </a>
 <h1 style="background-color: #8546; width:30cm">Protection contre les maladies immunitaires</h1>
<a class="nav-link" href="{{path('consultation')}}">
          <button class="btn btn-outline-success me-2" type="button" style="width: 4cm">Prendre un rendez-vous ici !!!</button>
          </a>
<h1 style="background-color: #8546; width:30cm">Prevention contre les maladies cardiaques</h1>
Les maladies cardiovasculaires sont responsables de 180 000 décès par an en France, bien souvent en rapport avec des prises de risque individuels. 
Comment prévenir ces maladies au quotidien ?<br>
Arrêter de fumer <br>
Adopter une alimentation saine et équilibrée <br>
Surveiller son poids <br>
Lutter contre la sédentarité <br>
Surveiller son taux de cholestérol et de triglycérides <br>
Contrôler sa tension régulièrement <br>
Soigner son diabète<br>
Gérer son stress<br> 
<section style="width: 6cm;  vertical-align: top; display: inline-block; border: 1px ;"><a class="nav-link" href="{{path('consultation')}}">
          <button class="btn btn-outline-success me-2" type="button" style="width: 4cm">Prendre un rendez-vous ici !!!</button>
          </a></section>
<section style="width: 6cm;  vertical-align: top; display: inline-block; border: 1px; margin-left: 550px;"><a class="nav-link" href="{{path('rendez_vous_index')}}">
          <button class="btn btn-outline-success me-2" type="button" style="width: 4cm">Prendre un rendez-vous ici !!!</button>
          </a></span></section>
<h1 style="background-color: #8546; width:30cm">Manifestions des maladies cardiaques</h1>
<a class="nav-link" href="{{path('consultation')}}">
          <button class="btn btn-outline-success me-2" type="button" style="width: 4cm">Prendre un rendez-vous ici !!!</button>
          </a>
</section>
{% endblock %}