{% extends 'base.html.twig' %}
{% block body %}
<section style="width: 6cm;  vertical-align: top; display: inline-block; border: 1px solid black;">
<aside style="display: inline-block;">
<h1 style="background-color: blue">Nos spécialités</h1>
	<ul class = "fil d'Ariane">
  <li> <a href="{{path('immunologie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> L’allergologie ou l’immunologie</font> </font> </a> </li>
  <li> <a href="{{path('anesthesiologie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> L’anesthésiologie </font> </font> </a> </li>
  <li> <a href="{{path('cardiologie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> La cardiologie </font> </font> </a> </li>
  <li> <a href="{{path('chirurgie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> La chirurgie </font> </font> </a> </li>
  <li> <a href="{{path('dermatologie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> La dermatologie </font> </font> </a> </li>
  <li> <a href="{{path('gynecologie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> La gynécologie </font> </font> </a> </li>
  <li> <a href="{{path('neurologie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> La neurologie </font> </font> </a> </li>
  <li> <a href="{{path('odontologie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> L’odontologie </font> </font> </a> </li>
  <li> <a href="{{path('pediatrie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> La pédiatrie </font> </font> </a> </li>
  <li> <a href="{{path('radiothérapie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> La radiothérapie </font> </font> </a> </li>
  <li> <a href="{{path('infectiologie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> L’infectiologie </font> </font> </a> </li>
  <li> <a href="{{path('medecine_generale')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> La médecine générale </font> </font> </a> </li>
  <li> <a href="{{path('ophtalmologie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> L’ophtalmologie </font> </font> </a> </li>
  <li> <a href="{{path('psychiatrie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> La psychiatrie </font> </font> </a> </li>
  <li> <a href="{{path('urologie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> L’urologie </font> </font> </a> </li>
</ul>


</section>
<section style="width: 27cm;  vertical-align: top; display: inline-block;">
<h1 style="background-color: #8546; width:30cm">Au cours de vos services pour vous donner le meilleur de votre santé</h1>
La chirurgie est un ensemble d'opérations manuelles et instrumentales réalisées sur et dans un corps 
vivant à des fins thérapeutiques. C'est l'un des plus anciens arts médicaux. Son efficacité a été très 
longtemps limitée par quatre facteurs, dont les trois premiers déterminent la durée possible d'intervention :<br>

-l'ignorance de l'anatomie et de la physiologie : sans connaissance précise de l'organisation intérieure du 
corps et de son fonctionnement, les interventions ne pouvaient porter sur les organes vitaux et se limitaient 
aux organes périphériques et aux plaies ;<br>
-l'hémorragie, souvent mortelle. Si la coagulation a été observée de longue date, la compréhension de 
l'hémostase attendra le xxe siècle. Cause ou conséquence de l'intervention, le saignement artériel ne pouvait 
être contrôlé que par la compression mécanique externe (garrot, clamp ou tamponnement) ou 
la cautérisation et, plus récemment, par obstruction temporaire intracavitaire (sondes à ballonet, 
obturateurs gélifiés réversibles), permettant la suture réglée des vaisseaux et des tissus ;<br>
-la douleur, entrainant des réactions motrices réflexes de défense ou d'évitement, ou des réactions de choc, 
problèmes maintenant mieux résolus avec la découverte de l'anesthésie ;<br>
-l'infection, qui causait de nombreux décès : la découverte des microbes par Louis Pasteur mit Joseph Lister 
sur la voie de la découverte de l'antisepsie, permit le développement de l'asepsie et de l'hygiène et, ajoutées à celles de l'immunité et des antibiotiques, firent chuter la mortalité post-opératoire de façon spectaculaire.
<a class="nav-link" href="{{path('consultation')}}">
          <button class="btn btn-outline-success me-2" type="button" style="width: 4cm">Prendre un rendez-vous ici !!!</button>
          </a>
<h1 style="background-color: #8546; width:30cm">Les maladies chirurgicales</h1>

  Vous trouverez sur ces pages les principales pathologies prises en charge dans le service de Chirurgie 
   Digestive et Générale de l’Hopital La Solution:<br>

Pathologies oncologiques:

Cancer du colon, Cancer du rectum, Cancer du pancréas, Cancer de l’estomac, 
Cancer de l’oesophage, Cancer du canal anal, Tumeur hépatique, Carcinome hépatocellulaire<br>
Pathologies inflammatoires:

Diverticulose, Maladie de Crohn, Recto-colite hémorragique<br>
 Pathologie Pariétale:

Hernie inguinale<br>
Proctologie:

Fistule anale, Abcès de la marge anale<br>
Autres pathologies:
Lithiase vésiculaire, Appendicite
<section style="width: 6cm;  vertical-align: top; display: inline-block; border: 1px ;"><a class="nav-link" href="{{path('consultation')}}">
          <button class="btn btn-outline-success me-2" type="button" style="width: 4cm">Prendre un rendez-vous ici !!!</button>
          </a></section>
<section style="width: 6cm;  vertical-align: top; display: inline-block; border: 1px; margin-left: 550px;"><a class="nav-link" href="{{path('rendez_vous_index')}}">
          <button class="btn btn-outline-success me-2" type="button" style="width: 4cm">Prendre un rendez-vous ici !!!</button>
          </a></span></section>
 <h1 style="background-color: #8546; width:30cm">Prévention des infections chirurgicales</h1>
 Les facteurs de risque liés au patient en faveur d'un traitement antibiotique comprennent:<br>

-Certaines valvulopathies<br>
-Immunosuppression<br>
Les procédures à risque plus élevé concernent des zones où l'ensemencement bactérien est probable:<br>

-Bouche<br>
-Tractus gastro-intestinal<br>
-Voies respiratoires<br>
-Appareil génito-urinaire<br>
Dans les interventions dites propres (susceptibles d'être en milieu stérile), la prophylaxie n'est en général
 utile que lorsque des matériaux ou dispositifs prothétiques sont insérés ou lorsqu'on sait qu'une infection 
 peut avoir des conséquences sévères (p. ex., médiastinite après pontage aortocoronarien).
 <h1 style="background-color: #8546; width:30cm">Protection contre les maladies immunitaires</h1>

</section>
{% endblock %}