{% extends 'base.html.twig' %}
{% block body %}
<section style="width: 6cm;  vertical-align: top; display: inline-block; border: 1px solid black;">
<aside style="display: inline-block;">
<h1 style="background-color: blue">Nos spécialités</h1>
	<ul class = "fil d'Ariane">
  <li> <a href="{{path('immunologie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> L’allergologie ou l’immunologie</font> </font> </a> </li>
  <li> <a href="{{path('anesthesiologie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> L’anesthésiologie </font> </font> </a> </li>
  <li> <a href="{{path('cardiologie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> La cardiologie </font> </font> </a> </li>
  <li> <a href="{{path('chirurgie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> La chirurgie </font> </font> </a> </li>
  <li> <a href="{{path('dermatologie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> La dermatologie </font> </font> </a> </li>
  <li> <a href="{{path('gynecologie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> La gynécologie </font> </font> </a> </li>
  <li> <a href="{{path('neurologie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> La neurologie </font> </font> </a> </li>
  <li> <a href="{{path('odontologie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> L’odontologie </font> </font> </a> </li>
  <li> <a href="{{path('pediatrie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> La pédiatrie </font> </font> </a> </li>
  <li> <a href="{{path('radiothérapie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> La radiothérapie </font> </font> </a> </li>
  <li> <a href="{{path('infectiologie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> L’infectiologie </font> </font> </a> </li>
  <li> <a href="{{path('medecine_generale')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> La médecine générale </font> </font> </a> </li>
  <li> <a href="{{path('ophtalmologie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> L’ophtalmologie </font> </font> </a> </li>
  <li> <a href="{{path('psychiatrie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> La psychiatrie </font> </font> </a> </li>
  <li> <a href="{{path('urologie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> L’urologie </font> </font> </a> </li>
</ul>


</section>
<section style="width: 27cm;  vertical-align: top; display: inline-block;">
<h1 style="background-color: #8546; width:30cm">Au cours de vos services pour vous donner le meilleur de votre santé</h1>
La dermatologie est une spécialité de médecine qui s'occupe de la peau, des muqueuses et des phanères 
(ongles, cheveux, poils)1,2. Elle est associée à la vénérologie, c’est-à-dire l'étude des maladies vénériennes 
u infections sexuellement transmissibles (IST). Le médecin spécialisé pratiquant la dermatologie s'appelle 
le dermatologue ou le dermatologiste3.
La peau se compose de plusieurs couches superposées (de la plus profonde à la plus superficielle) incluant 
l'hypoderme, le derme (dermes réticulaire, profond et papillaire), la membrane basale et l'épiderme (Stratum 
germinativum, spinosum, granulosum, lucidum et corneum).
<a class="nav-link" href="{{path('consultation')}}">
          <button class="btn btn-outline-success me-2" type="button" style="width: 4cm">Prendre un rendez-vous ici !!!</button>
          </a>
<h1 style="background-color: #8546; width:30cm">Les maladies dermatologiques</h1>

  Vous trouverez sur ces pages les principales pathologies prises en charge dans le service de dermatologie 
et Générale de l’Hopital La Solution:<br>
Acanthosis nigricans
Achromie
Acné
Alopécie
Amyloïdose
Angiodermite
Angiome stellaire
Anthrax staphylococcique
Aphtose
Atrophie
Balanite
Behçet (maladie de)
Bowen (maladie de)
Carcinome basocellulaire
Carcinome spinocellulaire
Candidose
Chancre mou
Couperose
Darier (maladie de)
Degos (maladie de)
Dermatite actinique chronique
Dermatite herpétiforme
Dermatite atopique
Dermatophytose
Dermite péri-orale
Dermite séborrhéique
Dermographisme
Dyshidrose
Eczéma
Épidermolyse bulleuse
Érysipèle
Erythema ab igne
Érythème noueux
Érythème pigmenté fixe
Érythème polymorphe
Érythrodermie
Erythrasma
Escarre
Fiessinger-Leroy-Reiter (syndrome de)
Folliculite
Furoncle
Gale
Gangrène
Granulome annulaire
Herpès
Ichtyose
Impétigo
Intertrigo
Kératose actinique
Kératose pilaire
Leishmaniose
Lèpre
Leucokératose
Lichen plan
Lichen scléro-atrophique
Livedo
Lupus érythémateux
Syndrome de Lyell
Mal perforant plantaire
Maladie professionnelle
Mastocytose
Mélanome
Miliaire
Mucinose
Molluscum contagiosum
Myases
Nécrobiose lipoïdique
Œdème de Quincke
Panniculite
Papillonite
Parakératose achromiante
Parapsoriasis en gouttes
Pédiculose corporelle
Pédiculose du cuir chevelu
Pelade
Pemphigoïde bulleuse
Pemphigus
Périonyxis
Perlèche
Photodermatose
Pityriasis rosé de Gibert
Pityriasis versicolor
Poïkilodermie
Porphyries
Prurigo
Psoriasis
Purpura
rosacée
Sarcoïdose
Scarlatine
Sycosis
Syndrome bouche-main-pied
Syndrome de Stevens-Johnson
Syphilis
Teigne
Toxidermie bulleuse
Trombidiose
Tuberculose
Tungose
Urticaire
Varicelle
Vascularite nécrosante
Verrue
Vitiligo
Vulvo-vaginite
Xanthome
Xeroderma pigmentosum
Zona
<a class="nav-link" href="{{path('consultation')}}">
          <button class="btn btn-outline-success me-2" type="button" style="width: 4cm">Prendre un rendez-vous ici !!!</button>
          </a>
 <h1 style="background-color: #8546; width:30cm">Prévention des infections dermatologiques</h1>
 Les facteurs de risque liés au patient en faveur d'un traitement antibiotique comprennent:<br>
<section style="width: 6cm;  vertical-align: top; display: inline-block; border: 1px ;"><a class="nav-link" href="{{path('consultation')}}">
          <button class="btn btn-outline-success me-2" type="button" style="width: 4cm">Prendre un rendez-vous ici !!!</button>
          </a></section>
<section style="width: 6cm;  vertical-align: top; display: inline-block; border: 1px; margin-left: 550px;"><a class="nav-link" href="{{path('rendez_vous_index')}}">
          <button class="btn btn-outline-success me-2" type="button" style="width: 4cm">Prendre un rendez-vous ici !!!</button>
          </a></span></section>

 <h1 style="background-color: #8546; width:30cm">Protection contre les maladies immunitaires</h1>
<a class="nav-link" href="{{path('consultation')}}">
          <button class="btn btn-outline-success me-2" type="button" style="width: 4cm">Prendre un rendez-vous ici !!!</button>
          </a>
</section>
{% endblock %}