{% extends 'base.html.twig' %}
{% block body %}
<section style="width: 6cm;  vertical-align: top; display: inline-block; border: 1px solid black;">
<aside style="display: inline-block;">
<h1 style="background-color: blue">Nos spécialités</h1>
	<ul class = "fil d'Ariane">
  <li> <a href="{{path('immunologie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> L’allergologie ou l’immunologie</font> </font> </a> </li>
  <li> <a href="{{path('anesthesiologie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> L’anesthésiologie </font> </font> </a> </li>
  <li> <a href="{{path('cardiologie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> La cardiologie </font> </font> </a> </li>
  <li> <a href="{{path('chirurgie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> La chirurgie </font> </font> </a> </li>
  <li> <a href="{{path('dermatologie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> La dermatologie </font> </font> </a> </li>
  <li> <a href="{{path('gynécologie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> La gynécologie </font> </font> </a> </li>
  <li> <a href="{{path('neurologie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> La neurologie </font> </font> </a> </li>
  <li> <a href="{{path('odontologie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> L’odontologie </font> </font> </a> </li>
  <li> <a href="{{path('pédiatrie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> La pédiatrie </font> </font> </a> </li>
  <li> <a href="{{path('radiothérapie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> La radiothérapie </font> </font> </a> </li>
  <li> <a href="{{path('infectiologie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> L’infectiologie </font> </font> </a> </li>
  <li> <a href="{{path('medecine_generale')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> La médecine générale </font> </font> </a> </li>
  <li> <a href="{{path('ophtalmologie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> L’ophtalmologie </font> </font> </a> </li>
  <li> <a href="{{path('psychiatrie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> La psychiatrie </font> </font> </a> </li>
  <li> <a href="{{path('urologie')}}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> L’urologie </font> </font> </a> </li>
</ul>


</section>
<section style="width: 27cm;  vertical-align: top; display: inline-block;">
<h1 style="background-color: #8546; width:30cm">Au cours de vos services pour vous donner le meilleur de votre santé</h1>
L'immunologie est la branche de la biologie qui s'occupe de l'étude du système immunitaire. Apparu très tôt 
au cours de l'évolution, ce système a 
évolué pour distinguer le non-soi du soi. Les réactions de défense de l'organisme face à un organisme 
pathogène - quelle que soit la nature de celui-ci, virus, bactéries, champignons ou protozoaires. Les 
maladies auto-immunes, les allergies et le rejet des greffes forment l'aspect médical de cette science. Les
 mécanismes de synthèse et de maturation des anticorps, d'activation du système du complément, la mobilisation
  et la coordination des cellules de défense, en forment l'aspect fondamental et mécanistique.
<h1 style="background-color: #8546; width:30cm">Les maladies immunitaires</h1>

  Les maladies immunitaires, ou immunopathies, regroupent toutes les maladies affectant le système immunitaire. On en distingue deux groupes :

les maladies auto-immunes dites "autoinflammatoires" ;
les déficits immunitaires, éventuellement d'origine génétique, ou médiées;
Certaines maladies présentent toutefois des caractéristiques évoquant ces deux types de 
maladies (ex. : cystite interstitielle, neuromyotonie, sclérodermie, vitiligo, vulvodynie, maladie de Behçet, maladie de Lyme4, syndrome des poumons rétractés5, maladie de Menière…).
 Il semble que certains microbes puissent en effet encourager l'organisme à s'attaquer lui-même.
 <h1 style="background-color: #8546; width:30cm">Manifestation des maladies immunitaires</h1>
 Jusqu'à récemment, ces maladies étaient uniquement définies par des caractéristiques phénotypiques telles que:<br>
attaques récurrentes de fièvre ;<br>
douleurs abdominales ;<br>
arthrite ;<br>
signes cutanés ;<br>
diabète ;<br>1
 la sclérose en plaques ou encore la polyarthrite rhumatoïde<br>
Ces symptômes, assez peu spécifiques, peuvent plus ou moins se chevaucher en rendant un 
diagnostic précis difficile, c'est leur caractère cyclique et l'absence d'autres explications qui oriente le diagnostic.
 <h1 style="background-color: #8546; width:30cm">Protection contre les maladies immunitaires</h1>

</section>
{% endblock %}